div{
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    -ms-transform: translate(50px,100px);
    transform: translate(50px,100px);
}
div#myDiv{
    -ms-transform: scale(05,0.5);
    transform: scale(0.5,0.5);
}